# {{ ansible_managed }}

define arbiter {
    arbiter_name        {{ item.name }}
{% if item.hostname %}
    host_name           {{ item.hostname }}
{% endif %}
    address             {{ item.address }}
    port                {{ item.port }}
    spare               {{ item.spare }}

    modules             {{ item.modules | join(',') }}
    use_ssl             {{ item.use_ssl }}
    hard_ssl_name_check {{ item.hard_ssl_name_check }}

{% if is_monitoring_cluster == True %}
    timeout             {{ item.timeout }}
    data_timeout        {{ item.data_timeout }}
    max_check_attempts  {{ item.max_check_attempts }}
    check_interval      {{ item.check_interval }}
{% endif %}
}

