define contactgroup {
    contactgroup_name   {{ item.contactgroup_name }}
    alias               {{ item.alias }}
{% if (item.members | count) != 0 %}
    members             {{ item.members | join(',') }}
{% endif %}
}

