define contact {
    use             {{ item.template }}
    contact_name    {{ item.contact_name }}
    email           {{ item.email }}
    pager           {{ item.pager }}
    password        {{ item.password }}
    is_admin        {{ item.is_admin }}
    expert          {{ item.expert }}
}

