{% for key, value in (item | dictsort) %}
{% set is_not_custom_key = (key != 'dependency_name') %}
{% if is_not_custom_key %}
{% if ((value is string) and (value != '')) or (value is number) %}
    {{ "%-40s %s" | format(key, value) }}
{% elif (value is sequence) and value %}
    {{ "%-40s %s" | format(key, (value | join(','))) }}
{% endif %}
{% endif %}
{% endfor %}
