{% if (item.additional_settings is defined) and item.additional_settings %}

    # Additional settings
{% for setting_key, setting_value in item.additional_settings.iteritems() %}
{% if (setting_value is string) or (setting_value is number) %}
    {{ "%-30s %s" | format(setting_key, setting_value) }}
{% else %}
    {{ "%-30s %s" | format(setting_key, (setting_value | join(','))) }}
{% endif %}
{% endfor %}
{% endif %}
