# {{ ansible_managed }}

{% for config_dir in shinken_main_config_directories %}
cfg_dir={{ config_dir }}
{% endfor %}

retention_update_interval={{ shinken_main_config_retention_update_interval }}

max_service_check_spread={{ shinken_main_config_max_service_check_spread }}
max_host_check_spread={{ shinken_main_config_max_host_check_spread }}

service_check_timeout={{ shinken_main_config_service_check_timeout }}
timeout_exit_status={{ shinken_main_config_timeout_exit_status }}

flap_history={{ shinken_main_config_flap_history }}

max_plugins_output_length={{ shinken_main_config_max_plugins_output_length }}

enable_problem_impacts_states_change={{ shinken_main_config_enable_problem_impacts_states_change }}

disable_old_nagios_parameters_whining={{ shinken_main_config_disable_old_nagios_parameters_whining }}

{% if shinken_main_config_use_timezone %}
use_timezone={{ shinken_main_config_use_timezone }}
{% endif %}

enable_environment_macros={{ shinken_main_config_enable_environment_macros }}

log_initial_states={{ shinken_main_config_log_initial_states }}

no_event_handlers_during_downtimes={{ shinken_main_config_no_event_handlers_during_downtimes }}

pack_distribution_file={{ shinken_main_config_pack_distribution_file }}

# Arbiter part
workdir={{ shinken_main_config_workdir }}
lock_file={{ shinken_main_config_lock_file }}
local_log={{ shinken_main_config_local_log }}
log_level={{ shinken_main_config_log_level }}
{% if shinken_main_config_use_custom_arbiter_user %}
shinken_user={{ shinken_main_config_custom_arbiter_user }}
shinken_group={{ shinken_main_config_custom_arbiter_group }}
{% endif %}
modules_dir={{ shinken_main_config_modules_dir }}
daemon_enabled={{ shinken_main_config_daemon_enabled }}

use_ssl={{ shinken_main_config_use_ssl }}
ca_cert={{ shinken_main_config_ca_cert }}
server_cert={{ shinken_main_config_server_cert }}
server_key={{ shinken_main_config_server_key }}
hard_ssl_name_check={{ shinken_main_config_hard_ssl_name_check }}

http_backend={{ shinken_main_config_http_backend }}

{% if shinken_main_config_use_shinken_io %}
api_key={{ shinken_main_config_shinken_io_api_key }}
secret={{ shinken_main_config_shinken_io_secret }}
http_proxy={{ shinken_main_config_shinken_io_http_proxy }}
{% endif %}

statsd_host={{ shinken_main_config_statsd_host }}
statsd_port={{ shinken_main_config_statsd_port }}
statsd_prefix={{ shinken_main_config_statsd_prefix }}
statsd_enabled={{ shinken_main_config_statsd_enabled }}

